@import './iconfont.css';

html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

.el-breadcrumb {
  margin-bottom: 10px;
  height: 40px;
  display: flex;
  align-items: center;
}

.el-table {
  font-size: 12px !important;
  margin-bottom: 20px;
}

.el-main {
  min-width: 1200px !important;
}

.el-cascader-panel {
  height: 200px;
}

.ql-container {
  height: 300px !important;
}